{% extends "template.html" %}
{% block title %}Report{% endblock %}
{% block nav %}
	<div class="container" style="visibility: hidden">
		<ul class="nav navbar-nav">
			<li><a href="#general">General</a></li>
			<li><a href="#user-stories">User Stories</a></li>
			<li><a href="#ontology">Ontology</a></li>
			{% if print_prolog %}<li><a href="#prolog">Prolog</a></li>{% endif %}
		</ul>
	</div>
	<nav class="navbar navbar-default navbar-fixed-top">
		<div class="container">
			<ul class="nav navbar-nav">
				<li class="active"><a href="#general">General</a></li>
				<li><a href="#user-stories">User Stories</a></li>
				<li><a href="#ontology">Ontology</a></li>
				{% if print_prolog %}<li><a href="#prolog">Prolog</a></li>{% endif %}
			</ul>
		</div>
	</nav>
{% endblock %}
{% block content %}	
	<h1 class="page-header">{{ self.title() }}: {{ systemname }}</h1>
	<h2 id="general">General</h2>
	<div class="panel panel-default">
		<div class="panel-heading">
			<h3 class="panel-title">Input file</h3>
		</div>
		<div class="panel-body">
			<dl class="dl-horizontal">
				<dt>Name</dt><dd>{{ inputfile }}</dd>
				<dt>Non-empty lines</dt><dd>{{ inputfile_lines }}</dd>
			</dl>
		</div>
	</div>
	<div class="panel panel-default">
			<div class="panel-heading">
				<h3 class="panel-title">Run details</h3>
			</div>
			<div class="panel-body">
			<h4>Parsed User Stories</h4>
			<div class="progress">
				{% if us_success > 0 %}
				<div class="progress-bar progress-bar-success" style="width: {{ (us_success / (us_success + us_fail)) * 100 }}%">
					Success: {{ us_success }} User Stories ({{ ((us_success / (us_success + us_fail)) * 100)|round(2) }}%)
				</div>
				{% endif %}
				{% if us_fail > 0 %}
				<div class="progress-bar progress-bar-danger" style="width: {{ (us_fail / (us_success + us_fail)) * 100 }}%">
					Failed: {{ us_fail }} User Stories ({{ ((us_fail / (us_success + us_fail)) * 100)|round(2) }}%)
				</div>
				{% endif %}
			</div>	
			{% if failed_stories %}
				{% for story in failed_stories %}
					<p><span class="label label-danger">FAILED: {{ story[2][0] }}</span> User Story {{ story[0] }}: <kbd>{{ story[1] }}</kbd></p>
				{% endfor %}
			<div class="alert alert-warning">These User Stories are not included in any further statistics or ontology generation</div>
			{% endif %}
			<h4>Time elapsed</h4>
		</div>
		<table class="table">
			<thead>

				<tr><th>Part</th><th>Time (s)</th></tr>
			</thead>
			<tbody>
			{% for time in times %}
				{% if time[1] > 0 %}
					<tr><td>{{ time[0] }}</td><td>{{ time[1]|round(5) }}</td></tr>
				{% endif %}
			{% endfor %}
			</tbody>
		</table>
	</div>
	<div class="panel panel-default">
		<div class="panel-heading">
			<h3 class="panel-title">Output files</h3>
		</div>
		<table class="table">
			<thead>
				<tr><th>File</th><th>Location</th></tr>
			</thead>
			<tbody>
			{% for file in outputfiles %}
				<tr><td>{{ file[0] }}</td><td><a href="{{ dir }}/{{ file[1] }}">/{{ file[1] }}</a></td></tr>
			{% endfor %}
			</tbody>
		</table>
	</div>

	<h2 id="user-stories">User Stories</h2>
	{% for story in stories %}
		<div class="panel panel-default">
			<div class="panel-heading">
				<h3 class="panel-title">
				<div class="row">
					<span class="label label-success" style="display: inline-block; margin-left: 1em">User Story {{ story.number }}</span>
					<div style="display: inline-block; margin: 0 1em">{{ story.text }}</div>
				</h3>
			</div>
			<div class="panel-body">
				<h4>Part-of-speech tags</h4>
				<table class="table">
					<tr><td></td>
					{% for token in story.old_data %}
						<td>{{ token.text }}</td>
					{% endfor %}
					</tr>
					<tr><td><strong>Universal</strong></td>
					{% for token in story.old_data %}
						<td>{{ token.pos_ }}</td>
					{% endfor %}
					</tr>
					<tr><td><strong>Penn Treebank</strong></td>
					{% for token in story.old_data %}
						<td>{{ token.tag_ }}</td>
					{% endfor %}
					</tr>
				</table>
				<h4>Format</h4>
				<dl>
					<dt>Role indicator</dt>
					<dd><kbd>{{ story.role.indicator }}</kbd></dd>
					<dt>Means indicator</dt> 
					<dd><kbd>{{ story.means.indicator }}</kbd></dd>
					{% if story.has_ends %}
					<dt>Ends indicator</dt>
					<dd><kbd>{{ story.ends.indicator }}</kbd></dd>
					{% endif %}
				</dl>
				<h4>Simplified</h4>
				<dl>
					<dt>Role</dt>
					<dd><kbd>{{ story.role.t }}</kbd></dd>
					<dt>Means</dt> 
					<dd><kbd>{{ story.means.simplified }}</kbd></dd>
					{% if story.has_ends %}
					<dt>Ends</dt>
					<dd><kbd>{{ story.ends.simplified }}</kbd></dd>
					{% endif %}
				<h4>Role</h4>
				<dl>				
					<dt>Functional role<dt>
					<dd>
					{% if text(story.role.functional_role.compound) == "" %}
					<kbd>{{ text(story.role.functional_role.main) }}</kbd>
					{% else %}
					<kbd>{{ text(story.role.functional_role.compound) }}</kbd> (compound)
					{% endif %}
					</dd>
				</dl>
				<h4>Means</h4>
				<dl>
					<dt>Main verb</dt>
					<dd>
					{% if text(story.means.main_verb.phrase) == "" %}
					<kbd>{{ text(story.means.main_verb.main) }}</kbd>
					{% else %}
					<kbd>{{ text(story.means.main_verb.phrase) }}</kbd> (type {{story.means.main_verb.type}} phrasal verb)
					{% endif %}
					</dd>
					<dt>Main object</dt> 
					<dd>
					{% if text(story.means.main_object.compound) == "" %}
						{% if text(story.means.main_object.main) != systemname %}
						<kbd>{{ text(story.means.main_object.main) }}</kbd>
						{% else %}
						There does not seem to be a main object, so it was replaced with the system name <kbd>{{ systemname }}</kbd>
						{% endif %}
					{% else %}
					<kbd>{{ text(story.means.main_object.compound) }}</kbd> (compound)
					{% endif %}
					{% if text(story.means.main_object.phrase) != "" %}
					with phrase <kbd>{{ text(story.means.main_object.phrase) }}</kbd>
					{% endif %}
					</dd>
					{% if story.means.free_form %}
					<dt>Free form</dt>
					<dd><kbd>{{ text(story.means.free_form) }}</kbd></dd>
						{% if story.means.nouns is defined %}
						<dd>with nouns 
						{% for noun in story.means.nouns %}<kbd>{{ text(noun) }}</kbd>{% endfor %}</dd>
						{% endif %}
						{% if story.means.compounds is defined %}
						<dd>of which compounds 
						{% for compound in story.means.compounds %}<kbd>{{ text(compound) }}</kbd>{% endfor %}</dd>
						{% endif %}
					{% endif %}
				</dl>
				{% if story.has_ends %}
				<h4>Ends</h4>
				<dl>
					{% if story.ends.free_form %}
					<dt>Free form</dt>
					<dd><kbd>{{ text(story.ends.free_form) }}</kbd></dd>
					{% endif %}
					<dt>Subject</dt>
					<dd>
					{% if is_i(story.ends.subject.main) %}
						Found <kbd>{{ text(story.ends.subject.main) }}</kbd>, so it was replaced with the functional role
					{% else %}
						{% if text(story.ends.subject.compound) == "" %}
							<kbd>{{ text(story.ends.subject.main) }}</kbd>
						{% else %}
						<kbd>{{ text(story.ends.subject.compound) }}</kbd> (compound)
						{% endif %}
						{% if text(story.ends.subject.phrase) != "" %}
						with phrase <kbd>{{ text(story.ends.subject.phrase) }}</kbd>
						{% endif %}
					{% endif %}
					</dd>
					<dt>Verb</dt>
					<dd>
					{% if text(story.ends.main_verb.phrase) == "" %}
					<kbd>{{ text(story.ends.main_verb.main) }}</kbd>
					{% else %}
					<kbd>{{ text(story.ends.main_verb.phrase) }}</kbd> (type {{story.ends.main_verb.type}} phrasal verb)
					{% endif %}
					</dd>
					<dt>Object</dt> 
					<dd>
					{% if text(story.ends.main_object.compound) == "" %}
						{% if text(story.ends.main_object.main) != systemname %}
						<kbd>{{ text(story.ends.main_object.main) }}</kbd>
						{% else %}
						There does not seem to be a main object, so it was replaced with the system name <kbd>{{ systemname }}</kbd>
						{% endif %}
					{% else %}
					<kbd>{{ text(story.ends.main_object.compound) }}</kbd> (compound)
					{% endif %}
					{% if text(story.ends.main_object.phrase) != "" %}
					with phrase <kbd>{{ text(story.ends.main_object.phrase) }}</kbd>
					{% endif %}
					</dd>
					
					{% if story.ends.nouns is defined %}
					<dt>Nouns</dt>
					<dd>{% for noun in story.ends.nouns %}<kbd>{{ text(noun) }}</kbd>{% endfor %}</dd>
					{% endif %}
					{% if story.ends.compounds is defined %}
					<dd>of which compounds 
					{% for compound in story.ends.compounds %}<kbd>{{ text(compound) }}</kbd>{% endfor %}</dd>
					{% endif %}
				</dl>
				{% endif %}
			</div>
		</div>
	{% endfor %}

	<h2 id="ontology">Manchester Ontology</h2>
	<div class="panel panel-default">
		<div class="panel-heading">
			<h3 class="panel-title">Generation settings</h3>
		</div>
		<div class="panel-body">
			<h4>Threshold</h4>
			{{ threshold }}
			<div class="alert alert-warning">Every word below the threshold will not be used to make any ontology classes or relationships</div>
			<h4>Absolute weights (base = {{ base }})</h4>	
			<dl class="dl-horizontal">
				<dt>Functional role</dt><dd>{{ matrix.VAL_FUNC_ROLE }}</dd>
				<dt>Direct objects</dt><dd>{{ matrix.VAL_DIRECT_OBJ }}</dd>
				<dt>Noun in free form means</dt><dd>{{ matrix.VAL_MEANS_NOUN }}</dd>
				<dt>Noun in free form ends</dt><dd>{{ matrix.VAL_ENDS_NOUN }}</dd>
			</dl>
			<h4>Relative weights</h4>	
			<dl class="dl-horizontal">
				<dt>Compound (compared to parent)</dt><dd>{{ matrix.VAL_COMPOUND }}</dd>
			</dl>
		</div>
	</div>

	<div class="panel panel-default">
		<div class="panel-heading">
			<h3 class="panel-title">Obtained weights</h3>
		</div>
		<div class="panel-body">
			<p>Stop words with a weight of 0 and punctuation marks were removed from the list below.</p>
			<p>Classes above the threshold ({{ threshold }}) are highlighted in <span class="bg-success">green</span>.</p>
		</div>
			<table class="table">
				<thead>
					<tr><th>Case</th><th>Weight</th></tr>
				</thead>
				<tbody>
			{% for weight in weights %}
				{% if weight[1] >= threshold %}
				<tr class="success">
				{% else %}
				<tr>
				{% endif %}
				<td>{{ weight[0] }}</td><td>{{ weight[1]|round(5) }}</td>
				</tr>
			{% endfor %}
				</tbody>
			</table>
	</div>

	<div class="panel panel-default">
		<div class="panel-heading">
			<h3 class="panel-title">Generated classes</h3>
		</div>
			<table class="table">
				<thead>
					<tr><th>Type</th><th>Class</th><th>Parent</th><th>Occurs in</th></tr>
				</thead>
				<tbody>
			{% for class in classes %}
				{% if class is not is_us %}
					<tr>
					<td>{% if class.is_role %}FunctionalRole{% endif %}</td><td>{{ class.name }}</td><td>{{ class.parent }}</td><td>{{ occurence_list(class.stories) }}</td>
					</tr>
				{% endif %}
			{% endfor %}
				</tbody>
			</table>
	</div>

	<div class="panel panel-default">
		<div class="panel-heading">
			<h3 class="panel-title">Generated relationships</h3>
		</div>
			<table class="table">
				<thead>
					<tr><th>Subject</th><th>Predicate</th><th>Object</th><th>Occurs in</th></tr>
				</thead>
				<tbody>
			{% for rel in relationships %}
				{% if rel.name not in ['Role','Means','Ends'] %}
					<tr>
					<td>{{ rel.domain }}</td><td>{{ rel.name }}</td><td>{{ rel.range }}</td><td>{{ occurence_list(rel.stories) }}</td>
					</tr>
				{% endif %}
			{% endfor %}
				</tbody>
			</table>
	</div>
	
	<div class="panel panel-default">
		{% if write_local %}
		<div class="panel-body">
			The output can be found at <a href="{{ dir }}/{{ outputfiles[0][1] }}">/{{ outputfiles[0][1] }}</a>, which can be used to analyze and visualize the ontology.
		</div>
		{% endif %}
		<div class="panel-footer">
			{% for line in ontology %}
				{% if is_comment(line) %}
				<span class="text-muted">
				{% endif %}
				{% for word in line %}
					{% if apply_tab(word) %}
					&nbsp;
					{% endif %}
					{% if word == "Class:" %}
					<span class="text-success">{{ word + " " }}</span>
					{% elif word == "ObjectProperty:" or word == "DataProperty" %}
					<span class="text-primary">{{ word + " " }}</span>
					{% else %}
					{{ word + " " }}
					{% endif %}
				{% endfor %}
				{% if is_comment(line) %}
				</span>
				{% endif %}
				<br>
			{% endfor %}
		</div>
	</div>	

	{% if print_prolog %}
	<h2 id="prolog">Prolog</h2>
	<div class="panel panel-default">
		{% if write_local %}
		<div class="panel-body">
			The output can be found at <a href="{{ dir }}/{{ outputfiles[1][1] }}">/{{ outputfiles[1][1] }}</a>, which can be used to analyze and visualize the ontology.
		</div>
		{% endif %}
		<div class="panel-footer">
			{% for line in prolog %}
				{% for word in line%}{{word}}{% endfor %}<br>
			{% endfor %}
		</div>
	</div>
	{% endif %}
{% endblock %}
